<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Minimal News</title>
    <link href="../static/style.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="../static/images/favicon.ico"/>
  </head>

  <body>
    <header>
      <section class="container">
        <h1 class="branding">Minimal News</h1>

        <nav>
          <ul class="navbar">
            <li><a href="index.html">Home</a></li>
            <li class="current"><a href="about.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </nav>
      </section>
    </header>

    <article id="showcase">
      <section id="information" class="container">

        
      </section>
    </article>

    <footer>
      <p>&copy; Minimal News 2020</p>
    </footer>

  </body>
</html>
