<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>Login</title>

    <link rel="stylesheet" href="../static/css/login.css" media="screen" type="text/css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,700">
</head>

<body>

    <div class="container">

      <a href="{{ url_for('main.index') }}" class="img"><img src="../static/images/logo1.png"></a>

      <div id="login">

        <form action="javascript:void(0);" method="get">

          <fieldset class="clearfix">

            <p><span class="fontawesome-user"></span><input type="text" value="Username" onBlur="if(this.value == '') this.value = 'Username'" onFocus="if(this.value == 'Username') this.value = ''" required></p> <!-- JS because of IE support; better: placeholder="Username" -->
            <p><span class="fontawesome-lock"></span><input type="password"  value="Password" onBlur="if(this.value == '') this.value = 'Password'" onFocus="if(this.value == 'Password') this.value = ''" required></p> <!-- JS because of IE support; better: placeholder="Password" -->
            <p><input type="submit" value="Log In"></p>

          </fieldset>

        </form>

        <p>Not a member? &nbsp; <a href="#">Register now</a><span class="fontawesome-arrow-right"></span></p>

      </div>

    </div>

</body>

</html>